* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #000000, hsl(0, 0%, 0%));
}

.login-container {
  background: #ffffff;
  padding: 40px 35px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 340px;
  text-align: center;
  animation: fadeIn 0.8s ease;
}

.login-container h2 {
  margin-bottom: 25px;
  color: #000000;
  font-size: 26px;
  letter-spacing: 1px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: all 0.3s ease;
}

.login-container input:focus {
  border-color: #000000;
  box-shadow: 0 0 5px rgba(0, 74, 173, 0.4);
}   

.login-container button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #000000;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-container button:hover {
  background-color: #000000;
  transform: scale(1.03);
}

.login-container p {
  margin-top: 15px;
  font-size: 14px;
  color: #333;
}
.login-container a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}


 body {
      background-image: url("back..jpeg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
